@import 'reset-css';


html {
    font-size: calc(100vw / 144);
    vertical-align: middle;
    @media screen and (max-width:1024px) {
        font-size: calc(100vw / 76.8);
    }
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    * {
        color: #8E9CA5;
        font-size: 1.6rem;
        vertical-align: middle;
        line-height: normal;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dancing Script', cursive;
}
h1 {
    font-size: 4.2rem;
    color: #D3B486;
}
h2 {
    font-size: 4.2rem;
    color: #D3B486;
}
a {
    text-decoration: none;
    cursor: pointer;
    @media screen and (max-width:768px) {
        font-size: 1.2rem;
    }
}
img {
    width:100%;
}